<section class="accreditation">
    <div class="accreditation__content">
        <div class="accreditation__card">
            <img src="/images/accreditation-bg.webp" alt="" class="accreditation__card-bg">
            <h2 class="accreditation__card-heading">
                Область аккредитации испытательной лаборатории
            </h2>
            <div class="accreditation__card-text">
                Оставьте заявку, наши специалисты готовы помочь вам с контролем качества и техническим сопровождением.
            </div>
            <a href="#" class="accreditation__card-link">
                Смотреть документ
                <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                    <use xlink:href="#doc"></use>
                </svg>
            </a>
        </div>
    </div>
</section>