<section class="actions">
    <div class="actions__content">
        <ul class="actions__list">
            <li class="actions__list-item">
                <a href="#" class="actions__card actions__card--blue">

                    <h3 class="actions__card-title">
                        Получите
                        бесплатную
                        консультацию
                    </h3>
                    <div class="actions__card-text">
                        Оставьте заявку, наши специалисты готовы помочь вам с контролем качества и техническим
                        сопровождением.
                    </div>
                    <div class="actions__card-link">
                        Заказать консультацию
                        <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="actions__list-item">
                <a href="#" class="actions__card actions__card--green">

                    <h3 class="actions__card-title">
                        Область аккредитации испытательной лаборатории 
                    </h3>

                    <div class="actions__card-link">
                        Смотреть документ
                        <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                            <use xlink:href="#doc"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>