<section class="clients">
    <div class="clients__content">
        <div class="clients__row">
            <div class="clients__text-content">
                <h2 class="clients__heading">
                    Наши заказчики
                </h2>
                <div class="clients__text">
                    Мы сотрудничаем с ведущими строительными компаниями и застройщиками России,
                    обеспечивая контроль качества на крупных промышленных и инфраструктурных объектах.
                </div>
            </div>
            <div class="clients__arrows">
                <button class="clients__arrow clients__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="clients__arrow clients__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="clients__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/2.webp" alt="" class="clients__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/3.webp" alt="" class="clients__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/4.webp" alt="" class="clients__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/5.webp" alt="" class="clients__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/2.webp" alt="" class="clients__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/3.webp" alt="" class="clients__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/4.webp" alt="" class="clients__slider-card-logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <img src="/images/clients/5.webp" alt="" class="clients__slider-card-logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>