<section class="contact-us" id="contacts">
    <div class="contact-us__content">
        <div class="contact-us__card">
            <h2 class="contact-us__card-heading">
                Свяжитесь
                с&nbsp;нами для
                консультации
            </h2>
            <div class="contact-us__card-contacts">
                <a href="tel:+78432213574" class="contact-us__card-phone">+7 (843) 221-35-74</a>
                <a href="mailto:sl-ppr@yandex.ru" class="contact-us__card-email">sl-ppr@yandex.ru</a>
                <ul class="contact-us__card-social-list">
                    <li class="contact-us__card-social-list-item">
                        <a href="#" class="contact-us__card-social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                            WA
                        </a>
                    </li>
                    <li class="contact-us__card-social-list-item">
                        <a href="#" class="contact-us__card-social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                            TG
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contact-us__card-text">
                <p>
                    Мы всегда готовы ответить на ваши вопросы, предоставить консультации и обсудить детали будущих
                    проектов. Будем рады сотрудничеству!
                </p>
            </div>
        </div>
        <form action="/" method="POST" class="contact-us__form js-form">
            <div class="contact-us__form-fields">
                <div class="contact-us__form-field">
                    <div class="contact-us__form-input-wrapper">
                        <input type="text" class="contact-us__form-input" name="your-name" placeholder="Ваше ФИО"
                            required="">
                    </div>
                </div>
                <div class="contact-us__form-field">
                    <div class="contact-us__form-input-wrapper">
                        <input type="email" class="contact-us__form-input" name="your-email"
                            placeholder="Введите e-mail" required="">
                    </div>
                </div>
                <div class="contact-us__form-field">
                    <div class="contact-us__form-input-wrapper">
                        <input type="text" class="contact-us__form-input" name="your-company"
                            placeholder="Название организации">
                    </div>
                </div>
                <div class="contact-us__form-field">
                    <div class="contact-us__form-input-wrapper">
                        <textarea name="your-comment" class="contact-us__form-input"
                            placeholder="Комментарий"></textarea>
                    </div>
                </div>
            </div>
            <div class="contact-us__form-policy">
                <label class="contact-us__form-policy-checkbox">
                    <input type="checkbox" name="policy" value="Y" class="contact-us__form-policy-checkbox-input"
                        required="" checked="">
                    <span class="contact-us__form-policy-checkbox-mark">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#checkmark"></use>
                        </svg>
                    </span>
                    <span class="contact-us__form-policy-checkbox-text">
                        Согласие на обработку персональных данных
                    </span>
                </label>
            </div>
            <button class="btn contact-us__form-submit" type="submit">
                Отправить
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#diagonal-arrow"></use>
                </svg>
            </button>
        </form>
    </div>
</section>