<section class="equipment" id="equipment">
    <div class="equipment__content">
        <h2 class="equipment__heading">
            Наше оборудование
        </h2>
        <div class="equipment__text">
            Лаборатория оснащена современными средствами измерения, испытательным и вспомогательным оборудованием для
            тестирования бетона,
            арматуры и металлоконструкций. Все испытательные машины, прессы и приборы аттестованы и поверен в
            установленном порядке.
        </div>
        <div class="equipment__blocks">
            <div class="equipment__block">
                <h3 class="equipment__block-heading">
                    Оборудование для лабораторных испытаний
                </h3>
                <div class="equipment__block-slider">
                    <div class="equipment__block-slider-wrapper">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/1.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                Пресс гидравлический
                                                испытательный ТП-1-1500
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/2.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                Камера для&nbsp;твердения
                                                и&nbsp;влажного хранения
                                                образцов бетона
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/3.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                Установка УВФ-6 для
                                                испытания бетона на
                                                водонепроницаемость
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/1.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                Пресс гидравлический
                                                испытательный ТП-1-1500
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/2.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                Камера для&nbsp;твердения
                                                и&nbsp;влажного хранения
                                                образцов бетона
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="equipment__block-slider-controls">
                        <button class="equipment__block-slider-arrow equipment__block-slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <div class="equipment__block-slider-pagination">

                        </div>
                        <button class="equipment__block-slider-arrow equipment__block-slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="equipment__block">
                <h3 class="equipment__block-heading">
                    Для проведения испытаний на объекте
                </h3>
                <div class="equipment__block-slider">
                    <div class="equipment__block-slider-wrapper">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/4.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                Мобильный
                                                лабораторный
                                                комплекс
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card equipment__card--with-border">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/5.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                ВИП-1.3 для проверки
                                                водонепроницаемости
                                                бетона
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/6.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                ОНИКС-ОС для
                                                испытания бетона
                                                на отрыв со скалыванием
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/4.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                Мобильный
                                                лабораторный
                                                комплекс
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card equipment__card--with-border">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/5.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                ВИП-1.3 для проверки
                                                водонепроницаемости
                                                бетона
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="equipment__card">
                                        <div class="equipment__card-bg">
                                            <img src="/images/equipment/6.webp" alt="" class="equipment__card-image">
                                        </div>
                                        <div class="equipment__card-content">
                                            <h4 class="equipment__card-title">
                                                ОНИКС-ОС для
                                                испытания бетона
                                                на отрыв со скалыванием
                                            </h4>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="equipment__block-slider-controls">
                        <button class="equipment__block-slider-arrow equipment__block-slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <div class="equipment__block-slider-pagination">

                        </div>
                        <button class="equipment__block-slider-arrow equipment__block-slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn equipment__catalog-link">
            Скачать каталог
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#diagonal-arrow"></use>
            </svg>
        </a>
    </div>
</section>