<section class="field-lab">
    <div class="field-lab__content">
        <a href="#" class="field-lab__card">
            <h2 class="field-lab__heading">
                Дорожная лаборатория
            </h2>
            <div class="field-lab__image-wrapper">

                <picture>
                    <source srcset="/images/field-lab-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/field-lab.webp" alt="MDN" class="field-lab__image" />
                </picture>
            </div>
            <div class="field-lab__text">
                <p>
                    Лаборатория предлагает комплексную оценку качества дорожного покрытия с использованием современных
                    методов и нормативных стандартов.
                </p>
                <p>
                    Среди основных видов работ — отбор образцов-кернов, измерение плотности и прочности асфальтобетона,
                    определение зернового состава
                    и водостойкости, а также проведение измерений ровности и геометрических параметров дорожного
                    полотна.
                </p>
            </div>



            <div class="field-lab__link-wrapper">
                <div class="field-lab__link-icon">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#diagonal-arrow"></use>
                    </svg>
                </div>
                <div class="btn field-lab__link">
                    Подробнее
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#diagonal-arrow"></use>
                    </svg>
                </div>
            </div>
        </a>

    </div>
</section>