<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <a href="/" class="page-footer__logo">
                <img src="/images/logo.svg" alt="" class="page-footer__logo-image" width="331" height="100">
            </a>
            <nav class="page-footer__nav">
                <ul>
                    <li>
                        <a href="#">
                            О нас
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Услуги
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Оборудование
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Проекты
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__contacts">
                <div class="page-footer__contacts-links">
                    <a href="#" class="page-footer__contacts-link">
                        <span class="page-footer__contacts-link-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#hh"></use>
                            </svg>
                        </span>
                        Вакансии на hh.ru
                    </a>
                    <a href="#" class="page-footer__contacts-link">
                        <span class="page-footer__contacts-link-icon">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#download"></use>
                            </svg>
                        </span>
                        Скачать реквизиты
                    </a>
                </div>
                <div class="page-footer__requisites">
                    <ul>
                        <li>
                            ИНН: 1658131325
                        </li>
                        <li>
                            ОГРН: 1111690090500
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                © 2024 ООО «СтройЛаборатория»
            </div>
            <a href="#" class="page-footer__policy">
                Политика обработки персональных данных
            </a>
            <a href="#" class="page-footer__made-by">
                Создание сайта<br> Mark Weber
                <img src="/images/mark-weber.svg" alt="" class="page-footer__made-by-logo" width="35" height="50">
            </a>
        </div>
    </div>
</footer>