<header class="page-header">
    <div class="page-header__content">
        <a href="tel:+78432213574" class="page-header__phone">+7 (843) 221-35-74</a>
        <ul class="page-header__social-list">
            <li class="page-header__social-list-item">
                <a href="#" class="page-header__social-link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                    WA
                </a>
            </li>
            <li class="page-header__social-list-item">
                <a href="#" class="page-header__social-link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#telegram"></use>
                    </svg>
                    TG
                </a>
            </li>
        </ul>
        <a href="email:sl-ppr@yandex.ru" class="page-header__email">sl-ppr@yandex.ru</a>
    </div>
</header>