<section class="home-intro">
    <div class="home-intro__bg">
        <img src="/images/home-intro.webp" alt="" class="home-intro__bg-image">
        <video loop="" autoplay="" playsinline="" muted="" class="home-intro__bg-video">
            <source src="/videos/home.webm" type="video/webm" />
            <source src="/videos/home.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="home-intro__content">
        <div class="home-intro__row">
            <a href="#" class="home-intro__logo">
                <img src="/images/logo-white.svg" alt="" class="home-intro__logo-image">
            </a>
            <a href="#" class="home-intro__link">
                Скачать презентацию
                <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                    <use xlink:href="#doc"></use>
                </svg>
            </a>
        </div>
    </div>
</section>