<section class="lab-services">
    <div class="lab-services__content">
        <div class="lab-services__row">
            <div class="lab-services__text-content">
                <h2 class="lab-services__heading">
                    Лабораторные услуги
                    на ключевых строительных объектах России
                </h2>
                <div class="lab-services__text">
                    <div class="lab-services__text-wrapper">
                        <div class="lab-services__text-short">
                            <p>
                                ООО «СтройЛаборатория» — динамично развивающаяся компания в сфере строительства. Мы
                                осуществляем
                                контроль качества материалов и строительных конструкций на всех этапах жизненного цикла
                                зданий и
                                сооружений. <span class="only-desktop">Благодаря современному, высокоточному и
                                    профессиональному оборудованию мы
                                    гарантируем Вам высокое качество работ.</span>
                            </p>
                        </div>
                        <div class="lab-services__text-full">
                            <p>
                                ООО «СтройЛаборатория» — динамично развивающаяся компания в сфере строительства. Мы
                                осуществляем
                                контроль качества материалов и строительных конструкций на всех этапах жизненного цикла
                                зданий и
                                сооружений. Благодаря современному, высокоточному и профессиональному оборудованию мы
                                гарантируем Вам высокое качество работ.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, illum! Voluptates hic
                                quae
                                blanditiis ipsum amet laudantium laboriosam ex. Blanditiis voluptates eligendi dicta
                                excepturi. Culpa, inventore ducimus blanditiis itaque voluptates sapiente. At quo unde
                                mollitia voluptates, ullam, voluptatem illum, saepe facilis asperiores laudantium
                                voluptatum
                                itaque repellendus perspiciatis excepturi nostrum. Quisquam expedita earum eum
                                repellendus
                                ratione reiciendis dicta et, unde qui.
                            </p>
                        </div>
                    </div>
                    <button class="lab-services__text-btn">
                        <span>
                            Читать подробнее
                        </span>
                        <span>
                            Скрыть
                        </span>
                    </button>
                </div>
            </div>
            <a href="/images/cerfificate.webp" class="lab-services__certificate" data-fancybox="">
                <img src="/images/cerfificate.webp" alt="" class="lab-services__certificate-image">
            </a>
        </div>
        <div class="lab-services__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="lab-services__card">
                            <div class="lab-services__card-icon">
                                <img src="/images/lab-services/1.svg" alt="" class="lab-services__card-icon-image">
                            </div>
                            <div class="lab-services__card-content">
                                <h3 class="lab-services__card-title">
                                    современное
                                </h3>
                                <div class="lab-services__card-text">
                                    оборудование и мобильные комплексы
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="lab-services__card">
                            <div class="lab-services__card-icon">
                                <img src="/images/lab-services/2.svg" alt="" class="lab-services__card-icon-image">
                            </div>
                            <div class="lab-services__card-content">
                                <h3 class="lab-services__card-title">
                                    команда
                                </h3>
                                <div class="lab-services__card-text">
                                    специалистов с опытом от 5 лет
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="lab-services__card">
                            <div class="lab-services__card-icon">
                                <img src="/images/lab-services/3.svg" alt="" class="lab-services__card-icon-image">
                            </div>
                            <div class="lab-services__card-content">
                                <h3 class="lab-services__card-title">
                                    аттестат
                                </h3>
                                <div class="lab-services__card-text">
                                    признания компетентности ГОСТ.RU.22128
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>