<section class="materials" id="services">
    <div class="materials__content">
        <div class="materials__card">
            <a href="#" class="materials__card-wrapper">

            </a>
            <div class="materials__card-heading-wrapper">
                <h2 class="materials__card-heading">
                    Испытания строительных
                    материалов
                </h2>
                <ul class="materials__card-list">
                    <li class="materials__card-list-item">
                        <div class="materials__card-sample-card">
                            <img src="/images/materials/1.webp" alt="" class="materials__card-sample-card-image">
                        </div>
                    </li>
                    <li class="materials__card-list-item">
                        <div class="materials__card-sample-card">
                            <img src="/images/materials/2.webp" alt="" class="materials__card-sample-card-image">
                        </div>
                    </li>
                    <li class="materials__card-list-item">
                        <div class="materials__card-sample-card">
                            <img src="/images/materials/3.webp" alt="" class="materials__card-sample-card-image">
                        </div>
                    </li>
                    <li class="materials__card-list-item">
                        <div class="materials__card-sample-card">
                            <img src="/images/materials/4.webp" alt="" class="materials__card-sample-card-image">
                        </div>
                    </li>
                    <li class="materials__card-list-item">
                        <div class="materials__card-sample-card">
                            <img src="/images/materials/5.webp" alt="" class="materials__card-sample-card-image">
                        </div>
                    </li>
                    <li class="materials__card-list-item">
                        <div class="materials__card-sample-card">
                            <img src="/images/materials/6.webp" alt="" class="materials__card-sample-card-image">
                        </div>
                    </li>
                    <li class="materials__card-list-item">
                        <div class="materials__card-sample-card">
                            <img src="/images/materials/7.webp" alt="" class="materials__card-sample-card-image">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="materials__card-link-wrapper">
                <div class="materials__card-link-icon">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#diagonal-arrow"></use>
                    </svg>
                </div>
                <div class="btn materials__card-link">
                    Подробнее
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#diagonal-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="materials__card-right-col-wrapper">
                <div class="materials__card-text">
                    <p>
                        Эти испытания обеспечивают контроль
                        прочности, надёжности и соответствия материалов строительным нормам, что гарантирует
                        безопасность и долговечность возводимых объектов
                    </p>
                </div>
                <ul class="materials__card-categories-list">
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Бетон
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Смеси бетонные
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Кирпич
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Конструкции ЖБ
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Песок
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Щебень
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            ЩПС
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Грунт
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Цемент
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Канаты стальные
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Сталь арматурная
                        </a>
                    </li>
                    <li class="materials__card-categories-list-item">
                        <a href="#" class="materials__card-categories-card">
                            Растворы стр.
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>