<div class="menu">
    <div class="menu__wrapper">
        <button class="menu__button">
            <span class="menu__button-open">
                Меню
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#menu-open"></use>
                </svg>
            </span>
            <span class="menu__button-close">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#menu-close"></use>
                </svg>
            </span>
        </button>
        <div class="menu__dropdown">
            <div class="menu__dropdown-inner">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a href="#about" class="menu__link">
                            О нас
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#projects" class="menu__link">
                            Проекты
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#services" class="menu__link">
                            Услуги
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#equipment" class="menu__link">
                            Оборудование
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#contacts" class="menu__link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>