<section class="mission" id="projects">
    <div class="mission__content">
        <h2 class="mission__heading">
            Наша миссия – независимый контроль
            качества материалов в соответствии
            с действующими стандартами и нормами
        </h2>
        <div class="mission__card">
            <div class="mission__card-bg">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="mission__card-bg-slide">
                                <img src="/images/mission-bg.webp" alt="" class="mission__card-bg-slide-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mission__card-bg-slide">
                                <img src="/images/mission-bg.webp" alt="" class="mission__card-bg-slide-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mission__card-bg-slide">
                                <img src="/images/mission-bg.webp" alt="" class="mission__card-bg-slide-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mission__card-left-col">
                <a href="#" class="btn mission__card-link">
                    Смотреть все проекты
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#diagonal-arrow"></use>
                    </svg>
                </a>
                <div class="mission__card-arrows">
                    <button class="mission__card-arrow mission__card-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="mission__card-arrow mission__card-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mission__card-right-col">
                <div class="mission__card-pagination">

                </div>
                <div class="mission__card-text-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="mission__card-text-slider-card">
                                    <div class="mission__card-text-slider-card-category">
                                        Производство
                                    </div>
                                    <h3 class="mission__card-text-slider-card-title">
                                        Пивоваренный завод
                                        «Белый Кремль»
                                    </h3>
                                    <div class="mission__card-text-slider-card-text">
                                        Проведение лабораторных испытаний,
                                        испытания пожарных лестниц. Проведение лабораторных испытаний, испытания
                                        пожарных лестниц.
                                    </div>
                                    <a href="#" class="mission__card-text-slider-card-link">
                                        Подробнее о проекте
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="mission__card-text-slider-card">
                                    <div class="mission__card-text-slider-card-category">
                                        Производство
                                    </div>
                                    <h3 class="mission__card-text-slider-card-title">
                                        Пивоваренный завод
                                        «Белый Кремль»
                                    </h3>
                                    <div class="mission__card-text-slider-card-text">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, corporis.
                                        Atque laboriosam deserunt soluta corporis nisi officiis quasi ratione impedit
                                        harum inventore! Maiores inventore excepturi facere quia aut, eveniet quae!
                                    </div>
                                    <a href="#" class="mission__card-text-slider-card-link">
                                        Подробнее о проекте
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="mission__card-text-slider-card">
                                    <div class="mission__card-text-slider-card-category">
                                        Производство
                                    </div>
                                    <h3 class="mission__card-text-slider-card-title">
                                        Пивоваренный завод
                                        «Белый Кремль»
                                    </h3>
                                    <div class="mission__card-text-slider-card-text">
                                        Проведение лабораторных испытаний,
                                        испытания пожарных лестниц. Проведение лабораторных испытаний, испытания
                                        пожарных лестниц. Проведение лабораторных испытаний,
                                        испытания пожарных лестниц. Проведение лабораторных испытаний, испытания
                                        пожарных лестниц.
                                    </div>
                                    <a href="#" class="mission__card-text-slider-card-link">
                                        Подробнее о проекте
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>