<section class="natural-test">
    <div class="natural-tests__content">
        <div class="natural-tests__card">
            <a href="#" class="natural-tests__card-wrapper">

            </a>
            <h2 class="natural-tests__heading">
                Натурные испытания
            </h2>
            <div class="natural-tests__text-content">
                <div class="natural-tests__text">
                    <p>
                        Испытания позволяют оценить прочность и безопасность объектов в условиях, приближенных к
                        реальной эксплуатации.
                    </p>
                    <p>
                        Включают проверки пожарных лестниц и ограждений кровли. Все процедуры проводятся по ГОСТ,
                        обеспечивая соответствие стандартам и безопасность использования.
                    </p>
                </div>
                <ul class="natural-tests__list">
                    <li class="natural-tests__list-item">
                        <a href="#" class="natural-tests__category-card">
                            Испытание<br>
                            ограждений&nbsp;кровли
                        </a>

                    </li>
                    <li class="natural-tests__list-item">
                        <a href="#" class="natural-tests__category-card">
                            Испытание<br>
                            пожарных&nbsp;лестниц
                        </a>
                    </li>
                </ul>
            </div>



            <div class="natural-tests__link-wrapper">
                <div class="natural-tests__link-icon">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#diagonal-arrow"></use>
                    </svg>
                </div>
                <div class="btn natural-tests__link">
                    Подробнее
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#diagonal-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>