<section class="other-projects">
    <div class="other-projects__content">
        <h2 class="other-projects__heading">
            Смотрите также
        </h2>
        <div class="other-projects__slider-remark">
            <img src="/images/slider-hand.svg" alt="">
            Листайте влево-вправо
        </div>
        <div class="other-projects__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="other-projects__slider-card">
                            <div class="other-projects__slider-card-bg">
                                <img src="/images/other-projects/1.webp" alt=""
                                    class="other-projects__slider-card-bg-image">
                            </div>
                            <div class="other-projects__slider-card-content">
                                <div class="other-projects__slider-card-categories">
                                    <div class="other-projects__slider-category">
                                        социальные объекты
                                    </div>
                                </div>
                                <h3 class="other-projects__slider-card-title">
                                    Испытания бетона
                                    Парковой зоны на
                                    территории «Зарядье
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="other-projects__slider-card">
                            <div class="other-projects__slider-card-bg">
                                <img src="/images/other-projects/2.webp" alt=""
                                    class="other-projects__slider-card-bg-image">
                            </div>
                            <div class="other-projects__slider-card-content">
                                <div class="other-projects__slider-card-categories">
                                    <div class="other-projects__slider-category">
                                        социальные объекты
                                    </div>
                                </div>
                                <h3 class="other-projects__slider-card-title">
                                    Испытания бетона
                                    Комплексов Университета
                                    Иннополис
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="other-projects__slider-card">
                            <div class="other-projects__slider-card-bg">
                                <img src="/images/other-projects/3.webp" alt=""
                                    class="other-projects__slider-card-bg-image">
                            </div>
                            <div class="other-projects__slider-card-content">
                                <div class="other-projects__slider-card-categories">
                                    <div class="other-projects__slider-category">
                                        социальные объекты
                                    </div>
                                </div>
                                <h3 class="other-projects__slider-card-title">
                                    Комплексные испытания
                                    на трассе М-17
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>