<section class="project-tests">
    <div class="project-tests__content">
        <h2 class="project-tests__heading">
            Проведенные испытания
        </h2>
        <ul class="project-tests__list">
            <li class="project-tests__list-item">
                <div class="project-tests__card">
                    Поставка бетона
                </div>
            </li>
            <li class="project-tests__list-item">
                <div class="project-tests__card">
                    Аренда опалубки
                </div>
            </li>
            <li class="project-tests__list-item">
                <div class="project-tests__card">
                    Аренда спецтехники
                </div>
            </li>
            <li class="project-tests__list-item">
                <div class="project-tests__card">
                    Поставка бетона
                </div>
            </li>
            <li class="project-tests__list-item">
                <div class="project-tests__card">
                    Аренда опалубки
                </div>
            </li>
            <li class="project-tests__list-item">
                <div class="project-tests__card">
                    Аренда спецтехники
                </div>
            </li>
        </ul>
    </div>
</section>