<section class="project-description">
    <div class="project-description__content">
        <h2 class="project-description__heading">
            Описание проекта
        </h2>
        <div class="project-description__text">
            <p>
                Олимпийский комплекс &laquo;Лужники&raquo; (до&nbsp;1992&nbsp;г. &mdash;&nbsp;Центральный
                стадион&nbsp;им. В.&nbsp;И.&nbsp;Ленина) был открыт 31&nbsp;июля
                1956&nbsp;года. Спорткомплекс, общая площадь которого составляет свыше 150&nbsp;гектаров, расположен
                на&nbsp;территории
                Центрального административного округа столицы, в&nbsp;районе Хамовники.
            </p>
            <p>
                На&nbsp;сегодняшний день &laquo;Лужники&raquo;&nbsp;&mdash; одна из&nbsp;самых больших спортивных
                площадок России и&nbsp;мира. Единый
                архитектурно-парковый ансамбль спорткомплекса объединяет более 80&nbsp;сооружений и&nbsp;объектов,
                наиболее
                значимые из&nbsp;которых&nbsp;&mdash; Большая спортивная арена, Малая спортивная арена, Дворец спорта
                (на&nbsp;реконструкции), Аквакомплекс, Северный спортивный центр, Южный спортивный центр, УСЗ
                &laquo;Дружба&raquo;,
                Ледовый дворец &laquo;Кристалл&raquo;, Спортивный городок, Дворец тенниса.
            </p>
        </div>
    </div>
</section>