<section class="projects-header">
    <div class="projects-header__content">
        <div class="projects-header__row">
            <a href="#" class="projects-header__logo">
                <img src="/images/logo-white.svg" alt="" class="projects-header__logo-image">
            </a>
            <a href="#callback-modal" class="projects-header__btn">
                Оставить заявку
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#diagonal-arrow"></use>
                </svg>
            </a>

        </div>
    </div>
</section>