<section class="projects">
    <div class="projects__content">
        <h2 class="projects__heading">
            Проекты
        </h2>
        <div class="projects__text">
            Наша компания обеспечивает своевременную доставку материалов и оборудования, а также предлагает
            надежные инструменты и машины для эффективного выполнения всех этапов вашего проекта.
        </div>
        <div class="projects__categories">
            <button class="projects__categories-btn" type="button">
                <span class="projects__categories-btn-text js-btn-text">

                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#accordion-arrow"></use>
                </svg>
            </button>
            <div class="projects__categories-dropdown">
                <div class="projects__categories-dropdown-inner">
                    <ul class="projects__categories-list">
                        <li class="projects__categories-list-item">
                            <label class="projects__categories-label">
                                <input type="radio" class="projects__categories-input" name="categories"
                                    value="Смотреть все" checked="">
                                <span class="projects__categories-checkbox-text-content">
                                    <span class="projects__categories-checkbox-text">
                                        Смотреть все
                                    </span>
                                    <span class="projects__categories-checkbox-count">
                                        15
                                    </span>
                                </span>
                            </label>
                        </li>
                        <li class="projects__categories-list-item">
                            <label class="projects__categories-label">
                                <input type="radio" class="projects__categories-input" name="categories"
                                    value="Поставка бетона">
                                <span class="projects__categories-checkbox-text-content">


                                    <span class="projects__categories-checkbox-text">
                                        Поставка бетона
                                    </span>
                                    <span class="projects__categories-checkbox-count">
                                        3
                                    </span>
                                </span>
                            </label>
                        </li>
                        <li class="projects__categories-list-item">
                            <label class="projects__categories-label">
                                <input type="radio" class="projects__categories-input" name="categories"
                                    value="Аренда оплаубки">
                                <span class="projects__categories-checkbox-text-content">
                                    <span class="projects__categories-checkbox-text">
                                        Аренда оплаубки
                                    </span>
                                    <span class="projects__categories-checkbox-count">
                                        8
                                    </span>
                                </span>
                            </label>
                        </li>
                        <li class="projects__categories-list-item">
                            <label class="projects__categories-label">
                                <input type="radio" class="projects__categories-input" name="categories"
                                    value="Аренда спецтехники">
                                <span class="projects__categories-checkbox-text-content">
                                    <span class="projects__categories-checkbox-text">
                                        Аренда спецтехники
                                    </span>
                                    <span class="projects__categories-checkbox-count">
                                        4
                                    </span>
                                </span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="projects__list">
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-bg">
                        <img src="/images/projects/1.webp" alt="" class="projects__card-bg-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Пивоваренный завод
                            «Белый Кремль»
                        </h3>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-bg">
                        <img src="/images/projects/2.webp" alt="" class="projects__card-bg-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Футбольный стадион Казань-Арена
                        </h3>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-bg">
                        <img src="/images/projects/3.webp" alt="" class="projects__card-bg-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Большая спортивная арена Лужники
                        </h3>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-bg">
                        <img src="/images/projects/4.webp" alt="" class="projects__card-bg-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Дворец водных видов спорта
                        </h3>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-bg">
                        <img src="/images/projects/5.webp" alt="" class="projects__card-bg-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Транспортная развязка на площади Танковое кольцо
                        </h3>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="projects__card">
                    <div class="projects__card-bg">
                        <img src="/images/projects/6.webp" alt="" class="projects__card-bg-image">
                    </div>
                    <div class="projects__card-content">
                        <h3 class="projects__card-title">
                            Ленинская дамба и мост через реку Казанка
                        </h3>
                    </div>
                </a>
            </li>
        </ul>
        <a href="#" class="projects__show-more">
            Открыть все проекты
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#diagonal-arrow"></use>
            </svg>
        </a>
    </div>
</section>