<section class="project-gallery">
    <div class="project-gallery__content">
        <div class="project-gallery__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="project-gallery__slider-card">
                            <img src="/images/project-gallery.webp" alt="" class="project-gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project-gallery__slider-card">
                            <img src="/images/project-gallery.webp" alt="" class="project-gallery__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project-gallery__slider-card">
                            <img src="/images/project-gallery.webp" alt="" class="project-gallery__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-gallery__slider-controls">
                <button class="project-gallery__slider-arrow project-gallery__slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <div class="project-gallery__slider-pagination">

                </div>
                <button class="project-gallery__slider-arrow project-gallery__slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>