<section class="project-description">
    <div class="project-description__content">
        <h2 class="project-description__heading">
            Описание проекта
        </h2>
        <div class="project-description__text">
            <p>
                В&nbsp;рамках проекта по&nbsp;испытанию бетона и&nbsp;сварных соединений БСА &laquo;Лужники&raquo; были
                проведены тщательные
                проверки прочности и&nbsp;качества материалов, используемых в&nbsp;реконструкции.
            </p>
            <p>
                Мы&nbsp;осуществили комплексное испытание бетона на&nbsp;прочность
                и&nbsp;долговечность, а&nbsp;также проверку сварных соединений на&nbsp;соответствие стандартам
                безопасности и
                прочности.
            </p>
            <p>
                Эти испытания обеспечили надежность и&nbsp;соответствие всем строительным требованиям, гарантируя
                долговечность и&nbsp;безопасность завершенного объекта.
            </p>
        </div>
    </div>
</section>