<section class="project-description">
    <div class="project-description__content">
        <h2 class="project-description__heading">
            Испытания строительного<br>
            песка
        </h2>
        <div class="project-description__text">
            <p>
                Применение строительного песка в&nbsp;строительстве очень распространено. Песок может применяться как
                один из
                компонентов материала, наряду с&nbsp;водой (бетон, асфальтобетон, ЩПС и&nbsp;т.д.), так и&nbsp;отдельно
                допускается в
                конструктивах (песчаное основание, обратная засыпка и&nbsp;др.).
            </p>
            <p>
                В&nbsp;соответствии с&nbsp;законодательством&nbsp;РФ, песок, разрабатываемый в&nbsp;карьерах, должен
                быть сертифицирован. На
                каждую партию необходим паспорт, подтверждающий его качество. Для того, чтобы подтвердить заявленные в
                паспортах характеристики, необходимо проводить лабораторные тестирования.
            </p>
            <p>
                В&nbsp;строительной практике тестирование разделяются на&nbsp;две категории: исследование конструктива
                на&nbsp;объекте
                строительства, и&nbsp;исследование отобранного материала и&nbsp;его состояния в&nbsp;лабораторных
                условиях.
            </p>
        </div>
    </div>
</section>