<section class="project-description">
    <div class="project-description__content">
        <h2 class="project-description__heading">
            Испытания строительных<br>
            материалов
        </h2>
        <div class="project-description__text">
            <p>
                Испытания песка в&nbsp;сфере стройматериала играют важную роль в&nbsp;определении его пригодности для
                создания
                различных изделий, таких как железобетонные блоки, плитки или даже дорог.
            </p>
            <p>
                Для того чтобы точно определить основные свойства, используют комплекс испытаний. Одним из&nbsp;ключевых
                параметров, которые определяют в&nbsp;течение этих испытаний, является размер фракции. Это значение
                имеет
                решающее значение при выборе типа песка для конкретных соединений или изделий. Согласно размеру фракции
                можно также определить средний объема песчинок в&nbsp;единицах объема.
            </p>
            <p>
                Важно также определить химический состав песка, так как наличие различных химических соединений может
                оставить следы на&nbsp;прочности и&nbsp;других свойствах железобетонных или других изделий.
            </p>
            <p>
                Морозостойкость&nbsp;&mdash; еще один параметр, который важно учитывать, особенно при использовании
                песка для дорожных
                работ или строительства домов в&nbsp;районах с&nbsp;холодным климатом. От&nbsp;степени морозостойкости
                зависит срок службы
                изделий, в&nbsp;которых он&nbsp;был использован.
            </p>
            <p>
                Соответствие нормативной документации также имеет значение. Нормативы определяют, какие свойства должны
                быть
                у&nbsp;песка в&nbsp;зависимости от&nbsp;сферы его использования.
            </p>
            <p>
                Время от&nbsp;времени, важно проводить повторные испытания, так как свойства песка на&nbsp;участке могут
                изменяться
                либо постоянно, либо в&nbsp;зависимости от&nbsp;различных факторов. Для таких исследований могут
                подойти экспресс-методы&nbsp;&mdash; с&nbsp;их&nbsp;помощью, например, можно получить значения
                коэффициента уплотнения без
                ожидания результатов тестирования.
            </p>
            <p>
                Набор тестов, которые используют для определения различных параметров, может включать в&nbsp;себя
                физические,
                химические и&nbsp;другие методы. Все они вместе дают полное представление о&nbsp;том, насколько песок
                пригоден для
                конкретного типа работ и&nbsp;какие свойства у&nbsp;него остались стабильными на&nbsp;протяжении
                длительного времени.
            </p>
            <button type="button">
                <span>
                    Читать полностью
                </span>
                <span>
                    Скрыть
                </span>
            </button>
        </div>
    </div>
</section>