<section class="project-header">
    <div class="project-header__bg"
        style="--bg-desktop-opacity: 0.45; --bg-desktop-blur: 5px; --bg-mobile-opacity: 0.25; --bg-mobile-blur: 2px;">
        <img src="/images/service-header.webp" alt="" class="project-header__bg-image">
    </div>
    <div class="project-header__content">
        <div class="project-header__row">
            <a href="#" class="project-header__logo">
                <img src="/images/logo-white.svg" alt="" class="project-header__logo-image">
            </a>
            <a href="#" class="project-header__link">
                Оставить заявку
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#diagonal-arrow"></use>
                </svg>
            </a>
        </div>
    </div>
</section>