<section class="service-price">
    <div class="service-price__content">
        <div class="service-price__row">
            <h2 class="service-price__heading">
                Цены на испытания песков
            </h2>
            <ul class="service-price__list">
                <li class="service-price__list-item">
                    <div class="service-price__card">
                        <div class="service-price__card-title">
                            Статические исследования
                        </div>
                        <div class="service-price__card-amount">
                            8400 руб
                        </div>
                    </div>
                </li>
                <li class="service-price__list-item">
                    <div class="service-price__card">
                        <div class="service-price__card-title">
                            Физико-механические тестирования
                        </div>
                        <div class="service-price__card-amount">
                            8400 руб
                        </div>
                    </div>
                </li>
                <li class="service-price__list-item">
                    <div class="service-price__card">
                        <div class="service-price__card-title">
                            Статические исследования
                        </div>
                        <div class="service-price__card-amount">
                            8400 руб
                        </div>
                    </div>
                </li>
                <li class="service-price__list-item">
                    <div class="service-price__card">
                        <div class="service-price__card-title">
                            Физико-механические тестирования
                        </div>
                        <div class="service-price__card-amount">
                            8400 руб
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="service-price__table">
            <div class="service-price__table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Кол-во
                            </th>
                            <th>
                                Материал
                            </th>
                            <th>
                                НТД
                            </th>
                            <th>
                                Наименование испытания
                            </th>
                            <th>
                                Стоимость
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="6">

                            </td>
                            <td rowspan="6">
                                Песок
                            </td>
                            <td rowspan="6">
                                ГОСТ 8735
                            </td>
                            <td>
                                Зерновой состав и модуль крупности
                            </td>
                            <td>
                                2560 руб
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание пылевидных и глинистых частиц
                            </td>
                            <td>
                                2560 руб
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание глины в комках
                            </td>
                            <td>
                                2560 руб
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Насыпная плотность
                            </td>
                            <td>
                                2560 руб
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Истинная плотность
                            </td>
                            <td>
                                2560 руб
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Влажность
                            </td>
                            <td>
                                2560 руб
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>