<section class="services">
    <div class="services__content">
        <h1 class="services__heading">
            Услуги
        </h1>
        <div class="services__text">
            Мы&nbsp;предоставляем лабораторные испытания строительных материалов и&nbsp;контроль качества объектов,
            включая
            проверку прочности
            бетона и&nbsp;растворов, водонепроницаемости, морозостойкости, а&nbsp;также анализ щебня и&nbsp;песка. Наши
            услуги
            охватывают
            проверку арматуры, сварных соединений и&nbsp;бетонной смеси, а&nbsp;также техническое сопровождение
            строительства.
        </div>
        <div class="services__table">
            <div class="services__table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Кол-во
                            </th>
                            <th>
                                Материал
                            </th>
                            <th>
                                НТД
                            </th>
                            <th>
                                Наименование испытания
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3">

                            </td>
                            <td rowspan="3">
                                Смеси песчано-гравийные для строительных работ
                            </td>
                            <td rowspan="3">
                                ГОСТ 23735
                            </td>
                            <td>
                                Зерновой состав
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание пылевидных и глинистых частиц
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание глины в комках
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="6">

                            </td>
                            <td rowspan="6">
                                Песок
                            </td>
                            <td rowspan="6">
                                ГОСТ 8735
                            </td>
                            <td>
                                Зерновой состав и модуль крупности
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание пылевидных и глинистых частиц
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание глины в комках
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Насыпная плотность
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Истинная плотность
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Влажность
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="15">
                                5
                            </td>
                            <td rowspan="15">
                                Щебень
                            </td>
                            <td rowspan="15">
                                ГОСТ 8269
                            </td>
                            <td>
                                Зерновой состав смеси
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание дробленых зерен в щебне из гравия
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание пылевидных и глинистых частиц
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание глины в комках
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание зерен пластинчатой и игловатой форм
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Дробимость
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Содержание зерен слабых пород
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Морозостойкость
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Истинная плотность
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Пористость
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Средняя плотность
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Насыпная плотность
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Пустотность
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Водопоглощение
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Влажность
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>