.field-lab {
  @include blockWrapper;
  margin-bottom: 5rem;

  @include breakpoint(mobile) {
    margin-bottom: 2.5rem;
  }
}

.field-lab__content {
  @include blockContent;
}

.field-lab__card {
  display: grid;
  grid-template-columns: 1fr minmax(0, 40rem) 1fr;
  grid-gap: 2rem;
  grid-column-gap: 5.4rem;
  grid-template-areas: "heading image text" "link image text";
  padding: 2.4rem;
  border: 2px solid rgba(228, 232, 240, 1);
  border-radius: 1.2rem;
  transition: border-color 0.2s;
  position: relative;
  overflow: hidden;
  min-height: 50rem;
  grid-template-rows: 1fr auto;

  @include breakpoint(mobile) {
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  @include breakpointMF(small-tablet) {
    @media (hover: hover) {
      &:hover {
        border-color: var(--primary-color);
        .field-lab__link-icon {
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.2s, visibility 0s linear 0.2s;
        }

        .field-lab__link {
          opacity: 1;
          visibility: inherit;
          transition: opacity 0.2s, visibility 0.2s;
        }
      }
    }
  }
}

.field-lab__image-wrapper {
  position: relative;
  overflow: hidden;
  grid-area: image;
  min-height: 45.2rem;
  border-radius: 1.2rem;
  backface-visibility: hidden;
  align-self: stretch;
  justify-self: stretch;

  @include breakpoint(mobile) {
    min-height: auto;
    aspect-ratio: 276 / 150;
  }
}

.field-lab__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.field-lab__heading {
  grid-area: heading;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.5rem;
  letter-spacing: -0.04em;

  @include breakpoint(mobile) {
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 650;
    line-height: 3rem;
    letter-spacing: -0.108rem;
    text-wrap: balance;
    padding-right: 2rem;
  }
}

.field-lab__text {
  grid-area: text;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.4rem;
  letter-spacing: -0.02em;
  max-width: 58rem;

  @include breakpoint(mobile) {
    max-width: none;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 650;
    line-height: 2rem;
    letter-spacing: -0.032rem;
  }

  p {
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
      margin-bottom: 1.5rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.field-lab__link-wrapper {
  grid-area: link;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  align-items: flex-end;
  justify-items: flex-start;
  align-self: flex-end;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.field-lab__link-icon {
  border: 1px solid var(--primary-color);
  border-radius: 1.2rem;
  width: 4.8rem;
  height: 4.8rem;
  display: grid;
  place-items: center;
  transition: opacity 0.2s, visibility 0.2s;
  grid-area: stack;

  @include breakpoint(mobile) {
    display: none;
  }
  svg {
    width: 1rem;
    height: 1rem;
    fill: var(--primary-color);
    transform: scaleX(-1);
  }
}

.field-lab__link {
  width: 27rem;
  grid-area: stack;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
  pointer-events: none;

  @include breakpoint(mobile) {
    order: 10;
    width: auto;
    opacity: 1;
    visibility: inherit;
  }
}
