.materials {
  @include blockWrapper;
  margin-bottom: 5rem;

  @include breakpoint(mobile) {
    margin-bottom: 2.5rem;
  }
}

.materials__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.materials__card {
  display: grid;
  grid-template-columns: 1fr minmax(0, 40rem) 1fr;
  grid-gap: 2rem;
  grid-column-gap: 5.4rem;
  grid-template-areas: "heading heading textcontent" "link link textcontent";
  padding: 2.4rem;
  border: 2px solid rgba(228, 232, 240, 1);
  border-radius: 1.2rem;
  transition: border-color 0.2s;
  position: relative;
  overflow: hidden;
  min-height: 50rem;
  @media (hover: hover) {
    &:has(.materials__card-wrapper:hover) {
      border-color: var(--primary-color);
    }
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    padding-top: 1.6rem;
    gap: 2.5rem;
    min-height: auto;
  }
}

.materials__card-wrapper {
  position: absolute;
  inset: 0;
  z-index: 1;

  @include breakpointMF(small-tablet) {
    @media (hover: hover) {
      &:hover {
        & ~ .materials__card-link-wrapper .materials__card-link-icon {
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.2s, visibility 0s linear 0.2s;
        }
        & ~ .materials__card-link-wrapper .materials__card-link {
          opacity: 1;
          visibility: inherit;
          transition: opacity 0.2s, visibility 0.2s;
        }
      }
    }
  }
}

.materials__card-heading-wrapper {
  grid-area: heading;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.materials__card-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.5rem;
  letter-spacing: -0.04em;
  max-width: 66rem;

  @include breakpoint(mobile) {
    max-width: none;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 650;
    line-height: 3rem;
    letter-spacing: -0.108rem;
  }
}

.materials__card-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  @include breakpoint(mobile) {
    grid-gap: 0.3rem;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

.materials__card-list-item {
  flex-shrink: 0;
}

.materials__card-sample-card {
  position: relative;
  border-radius: 2.15rem;
  overflow: hidden;
  width: 8.6rem;

  @include breakpoint(mobile) {
    width: 100%;
    border-radius: 0.9rem;
  }
  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.materials__card-sample-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.materials__card-link-wrapper {
  grid-area: link;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  align-items: flex-end;
  justify-items: flex-start;
  align-self: flex-end;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.materials__card-link-icon {
  border: 1px solid var(--primary-color);
  border-radius: 1.2rem;
  width: 4.8rem;
  height: 4.8rem;
  display: grid;
  place-items: center;
  transition: opacity 0.2s, visibility 0.2s;
  grid-area: stack;
  svg {
    width: 1rem;
    height: 1rem;
    fill: var(--primary-color);
    transform: scaleX(-1);
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.materials__card-link {
  @include breakpointMF(small-tablet) {
    width: 27rem;
    grid-area: stack;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
  }

  @include breakpoint(mobile) {
    order: 30;
  }
}

.materials__card-right-col-wrapper {
  grid-area: textcontent;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.materials__card-text {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.4rem;
  letter-spacing: -0.02em;
  max-width: 58rem;

  @include breakpoint(mobile) {
    max-width: none;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 650;
    line-height: 2rem;
    letter-spacing: -0.032rem;
  }

  p {
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
      margin-bottom: 1.5rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.materials__card-categories-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: auto;
  position: relative;
  z-index: 5;

  @include breakpoint(mobile) {
    gap: 1.5rem;
    row-gap: 1rem;
  }
}

.materials__card-categories-list-item {
  flex-shrink: 0;
}

.materials__card-categories-card {
  display: block;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  padding: 2.4rem 1.8rem;
  border-radius: 1.2rem;
  border: 2px solid #eef1f8;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.1rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 650;
    line-height: 2.5rem;
    letter-spacing: -0.05rem;
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    border: 2px solid #eef1f8;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--green);
      border-color: var(--green);
      color: white;
    }
  }

  &:active {
    background-color: var(--green);
    border-color: var(--green);
    color: white;
  }
}
