.mission {
  @include blockWrapper;
  margin-bottom: 12.5rem;

  @include breakpoint(mobile) {
    margin-bottom: 5rem;
  }
}

.mission__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.mission__heading {
  text-align: center;
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 9rem;
  letter-spacing: -0.32rem;
  align-self: center;
  margin-bottom: 5rem;
  text-wrap: balance;

  @include breakpoint(mobile) {
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem; /* 111.111% */
    letter-spacing: -0.108rem;
    margin-bottom: 2.5rem;
  }
}

.mission__card {
  border-radius: 1.2rem;
  overflow: hidden;
  overflow: clip;
  padding: 5rem;
  padding-right: 6.4rem;
  padding-left: 5.3rem;
  display: grid;
  grid-template-columns: 1fr 55rem;
  grid-gap: 5rem;
  position: relative;
  isolation: isolate;
  grid-template-areas: "left right";
  color: white;

  @include breakpoint(mobile) {
    min-height: 47rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
  }
}

.mission__card-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  .swiper {
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .swiper-wrapper {
    flex-grow: 1;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 41.36%,
      rgba(0, 0, 0, 0.4) 100%
    );
  }
}

.mission__card-bg-slide {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.mission__card-bg-slide-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mission__card-left-col {
  grid-area: left;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-self: flex-end;
  align-items: flex-end;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 0 1rem;
    justify-content: flex-start;
    align-self: stretch;
    margin-top: 2.5rem;
  }
}

.mission__card-link {
  width: 25rem;

  @include breakpoint(mobile) {
    width: auto;
  }
}

.mission__card-arrows {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-shrink: 0;
  margin-left: auto;

  @include breakpoint(mobile) {
    gap: 0.6rem;
    order: -10;
    justify-content: center;
    margin: 0;
  }
}

.mission__card-arrow {
  border-radius: 1.2rem;
  border: 1px solid #fff;
  width: 4.8rem;
  height: 4.8rem;
  display: grid;
  place-items: center;
  transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.2s;

    @include breakpoint(mobile) {
      fill: var(--text-color);
    }
  }

  @include breakpointMF(small-tablet) {
    &.swiper-button-disabled {
      cursor: default;
      border-color: rgba(white, 0.5);
      svg {
        fill: rgba(white, 0.5);
      }
    }

    &:not(.swiper-button-disabled) {
      @media (hover: hover) {
        &:hover {
          background-color: white;

          svg {
            fill: var(--primary-color);
          }
        }
      }
    }
  }

  @include breakpoint(mobile) {
    width: 4rem;
    height: 4rem;
    border-radius: 1.2rem;
    border: 1px solid #e4e8f0;

    &.swiper-button-disabled {
      cursor: default;

      svg {
        fill: #e4e8f0;
      }
    }

    // &:not(.swiper-button-disabled):active {
    //   background-color: var(--primary-color);
    //   border-color: var(--primary-color);
    //   svg {
    //     fill: white;
    //   }
    // }
  }
}

.mission__card-right-col {
  grid-area: right;
  border-radius: 1.2rem;
  background-color: #fff;
  background-image: url("../images/mission-decor.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 30rem auto;
  padding: 3.7rem;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  color: var(--text-color);

  @include breakpoint(mobile) {
    padding: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-size: 16.9rem auto;
    border-radius: 1rem;
    margin-top: auto;
  }
}

.mission__card-pagination {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: -0.04rem;
  color: #a2aaba;
  margin-bottom: 4.1rem;

  @include breakpoint(mobile) {
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.683rem;
    letter-spacing: -0.022rem;
    margin-bottom: 1rem;
  }

  .swiper-pagination-current {
    font-weight: 700;
    color: #0c0d0f;
  }
}

.mission__card-text-slider {
}
.mission__card-text-slider-card {
  display: flex;
  flex-direction: column;
}

.mission__card-text-slider-card-category {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 2rem;

  @include breakpoint(mobile) {
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.485rem;
    letter-spacing: -0.0495rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}

.mission__card-text-slider-card-title {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.5rem;
  letter-spacing: -0.2rem;
  margin-bottom: 2rem;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.099rem;
    margin-bottom: 1rem;
  }
}

.mission__card-text-slider-card-text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: -0.1rem;
  margin-bottom: 4rem;
  max-width: 43rem;

  @include breakpoint(mobile) {
    max-width: none;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem; /* 133.333% */
    letter-spacing: -0.0495rem;
    margin-bottom: 1rem;
  }
}

.mission__card-text-slider-card-link {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: -0.036rem;
  text-decoration-line: underline;
  color: var(--primary-color);
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  transition: text-decoration-color 0.2s;
  margin-top: auto;

  &:link,
  &:visited {
    color: var(--primary-color);
  }
  @media (hover: hover) {
    &:hover {
      text-decoration-color: transparent;
    }
  }

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.891rem; /* 74.25% */
    letter-spacing: -0.024rem;
    text-decoration-line: underline;
  }
}
