.natural-test {
  @include blockWrapper;
  margin-bottom: 12.5rem;

  @include breakpoint(mobile) {
    margin-bottom: 5rem;
  }
}

.natural-tests__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.natural-tests__card {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  grid-gap: 2rem;
  grid-template-areas: "heading textcontent" "link textcontent";
  padding: 2.4rem;
  border: 2px solid rgba(228, 232, 240, 1);
  border-radius: 1.2rem;
  transition: border-color 0.2s;
  position: relative;
  overflow: hidden;
  min-height: 50rem;
  @media (hover: hover) {
    &:has(.natural-tests__card-wrapper:hover) {
      border-color: var(--primary-color);
    }
  }

  @include breakpoint(mobile) {
    min-height: auto;
    padding: 1.2rem;
    padding-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}

.natural-tests__card-wrapper {
  position: absolute;
  inset: 0;
  z-index: 1;

  @include breakpointMF(small-tablet) {
    @media (hover: hover) {
      &:hover {
        & ~ .natural-tests__link-wrapper .natural-tests__link-icon {
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.2s, visibility 0s linear 0.2s;
        }
        & ~ .natural-tests__link-wrapper .natural-tests__link {
          opacity: 1;
          visibility: inherit;
          transition: opacity 0.2s, visibility 0.2s;
        }
      }
    }
  }
}

.natural-tests__heading {
  grid-area: heading;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.5rem;
  letter-spacing: -0.04em;

  @include breakpoint(mobile) {
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 650;
    line-height: 3rem;
    letter-spacing: -0.108rem;
  }
}

.natural-tests__text-content {
  grid-area: textcontent;
  display: flex;
  flex-direction: column;
  gap: 8rem;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.natural-tests__text {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.4rem;
  letter-spacing: -0.02em;
  max-width: 58rem;

  @include breakpoint(mobile) {
    max-width: none;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 650;
    line-height: 2rem;
    letter-spacing: -0.032rem;
  }

  p {
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
      margin-bottom: 1.5rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.natural-tests__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  position: relative;
  z-index: 5;
  align-self: flex-start;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.5rem;
  }
}

.natural-tests__list-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.natural-tests__category-card {
  padding: 2.4rem 1.8rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.1rem;
  border: 2px solid #eef1f8;
  border-radius: 1.2rem;
  flex-shrink: 0;
  flex-grow: 1;
  width: fit-content;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--green);
      border-color: var(--green);
      color: white;
    }
  }

  @include breakpoint(mobile) {
    padding: 0.6rem 1.2rem;
    border-radius: 1.2rem;
    border: 2px solid #eef1f8;
    flex-grow: 1;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: -0.05rem;
    width: auto;
  }
}

.natural-tests__link-wrapper {
  grid-area: link;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  align-items: flex-end;
  justify-items: flex-start;
  align-self: flex-end;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.natural-tests__link-icon {
  border: 1px solid var(--primary-color);
  border-radius: 1.2rem;
  width: 4.8rem;
  height: 4.8rem;
  display: grid;
  place-items: center;
  transition: opacity 0.2s, visibility 0.2s;
  grid-area: stack;
  svg {
    width: 1rem;
    height: 1rem;
    fill: var(--primary-color);
    transform: scaleX(-1);
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.natural-tests__link {
  width: 27rem;
  grid-area: stack;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;

  @include breakpoint(mobile) {
    order: 20;
    width: auto;
    opacity: 1;
    visibility: inherit;
  }
}
