.page-footer {
  @include blockWrapper;
}

.page-footer__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  padding: 4rem 0;

  @include breakpoint(mobile) {
    padding: 1.4rem 0;
    gap: 3.2rem;
  }
}

.page-footer__top-row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: flex-end;
  grid-template-areas: "logo nav contacts";

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.page-footer__logo {
  grid-area: logo;
  justify-self: flex-start;

  @include breakpoint(mobile) {
    align-self: center;
  }
}

.page-footer__logo-image {
  display: block;
  height: auto;
  width: 33rem;

  @include breakpoint(mobile) {
    width: 16.5433rem;
  }
}

.page-footer__nav {
  grid-area: nav;

  @include breakpoint(mobile) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    li {
      flex-shrink: 0;
      a {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.1rem;
        display: block;

        @media (hover: hover) {
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  grid-area: contacts;

  @include breakpoint(mobile) {
    align-items: center;
    gap: 1rem;
  }
}

.page-footer__contacts-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint(mobile) {
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.page-footer__contacts-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.1rem;

  @include breakpoint(mobile) {
    gap: 1.5rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem; /* 156.25% */
    letter-spacing: -0.1rem;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color);
      .page-footer__contacts-link-icon {
        background-color: var(--primary-color);
        border-color: var(--primary-color);

        svg {
          fill: white;
        }
      }
    }
  }
}

.page-footer__contacts-link-icon {
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  border: 1px solid #e4e8f0;
  border-radius: 1.2rem;
  display: grid;
  place-items: center;
  transition: background-color 0.2s, border-color 0.2s;

  @include breakpoint(mobile) {
    width: 4rem;
    height: 4rem;
    border-radius: 1.2rem;
    border: 1px solid #e4e8f0;
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--text-color);
    transition: fill 0.2s;
  }
}

.page-footer__requisites {
  @include breakpoint(mobile) {
    order: -10;
  }
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;

    @include breakpoint(mobile) {
      flex-wrap: nowrap;
      gap: 1rem;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }
    li {
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: -0.1rem;

      @include breakpoint(mobile) {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem; /* 156.25% */
        letter-spacing: -0.1rem;
      }
    }
  }
}

.page-footer__bottom-row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
  padding: 2.4rem;
  grid-template-areas: "copyright policy madeby";
  border-radius: 1.2rem;
  color: white;
  background-color: #0c0d0f;
  align-items: center;

  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 1rem;
    text-align: center;
    border-radius: 1.2rem;
    background: #0c0d0f;
    padding: 1.5rem 2rem;
  }
}

.page-footer__copyright {
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: -0.01em;
  grid-area: copyright;

  @include breakpoint(mobile) {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: -0.013rem;
  }
}

.page-footer__policy {
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: -0.01em;
  grid-area: policy;
  justify-self: center;

  @include breakpoint(mobile) {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.013rem;
  }
}

.page-footer__made-by {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.01em;
  grid-area: madeby;
  justify-self: flex-end;

  @include breakpoint(mobile) {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 2.1rem */
    letter-spacing: -0.015rem;
    gap: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.page-footer__made-by-logo {
  display: block;
  height: auto;
  width: 3.5rem;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    width: 3.4667rem;
  }
}
