.test-lab {
  @include blockWrapper;
  margin-bottom: 12.5rem;

  @include breakpoint(mobile) {
    margin-bottom: 3.9rem;
  }
}

.test-lab__content {
  @include blockContent;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    padding: 0 1rem;
  }
}

.test-lab__top-row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: flex-end;
  grid-template-areas: "textcontent textcontent link";

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }
}

.test-lab__text-content {
  grid-area: textcontent;
  display: flex;
  flex-direction: column;
  max-width: 94rem;

  @include breakpoint(mobile) {
    max-width: none;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.test-lab__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 9rem;
  letter-spacing: -0.04em;
  margin-bottom: 2.5rem;
  opacity: 0;
  visibility: hidden;
  // transform: translateY(3rem);

  @include breakpoint(mobile) {
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 650;
    line-height: 3rem;
    letter-spacing: -0.108rem;
    margin: 0;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.3em;
    width: 26.6rem;
    height: auto;
    max-width: none;

    @include breakpoint(mobile) {
      margin: 0;
      align-self: stretch;
      width: 100%;
      order: 10;

      display: none;
    }
  }
}

.test-lab__text {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.4rem;
  letter-spacing: -0.02em;
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);

  @include breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 650;
    line-height: 2.5rem;
    letter-spacing: -0.036rem;
  }
}

.test-lab__mobile-cerfificate {
  display: none;

  @include breakpoint(mobile) {
    align-self: flex-start;
    width: 26.6rem;
    height: auto;
    display: block;
    max-width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
  }
}

.test-lab__link {
  grid-area: link;
  align-self: flex-end;
  justify-self: stretch;
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);

  @include breakpoint(mobile) {
    align-self: stretch;
  }
}

.test-lab__slider {
  margin-top: 6rem;
  @include breakpoint(mobile) {
    margin-top: 5rem;
  }
  .swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    @include breakpointMF(small-tablet) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: 2rem;
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;

    @include breakpoint(mobile) {
      width: 23rem;
      margin-right: 1.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.test-lab__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid #e4e8f0;
  border-radius: 1.2rem;
  padding: 2.4rem;
  padding-top: 4rem;
  gap: 0;
  flex-grow: 1;
  opacity: 0;
  visibility: hidden;

  @include breakpoint(mobile) {
    padding: 2.4rem;
    padding-top: 1.7rem;
    border-radius: 1.2rem;
    border: 1px solid #e4e8f0;
    padding-right: 2rem;
  }
}

.test-lab__card-amount {
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.04em;

  @include breakpoint(mobile) {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -0.12rem;
  }
}

.test-lab__card-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #a2aaba;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.032rem;
  }
}
